/* Estilos principais do menu */
.sidenav {
  width: 60px; /* Largura padrão (fechado) */
  background-color: var(--principal);
  color: white;
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidenav.expanded {
  width: 200px; /* Largura quando expandido */
}

/* Botão de alternância para expandir o menu */
.toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.icon {
  margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
  width: 24px;
  height: 24px;
}


.menu-item span {
  font-size: 1rem;
  display: inline-block;
}
.menu-item {
  display: flex; /* Exibe o conteúdo em uma linha */
  flex-direction: row;
  align-items: center; /* Alinha o ícone e o texto verticalmente no centro */
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s;
}
.menu-item:hover {
  background-color: var(--selecionado); /* Cor de fundo ao passar o mouse */
  color: black; /* Muda a cor do texto e do ícone ao passar o mouse */
}

.menu-item .icon {
  margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
  transition: transform 0.3s ease, color 0.3s ease; /* Suaviza a transformação e a cor no hover */
}

.menu-item:hover .icon {
  transform: scale(1.1); /* Aumenta um pouco o tamanho do ícone no hover */
  color: black; /* Muda a cor do ícone no hover */
}

/* Ajustes para a responsividade */
@media (max-width: 768px) {
  .sidenav {
    transform: translateX(0%); /* Menu fechado */
    transition: transform 0.3s ease;
  }
  
  .sidenav-open {
    transform: translateX(0); /* Menu aberto */
  }
}

  
  