/* Estilos principais do menu */
.sidenav {
  width: 60px; /* Largura padrão (fechado) */
  background-color: var(--principal);
  color: white;
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidenav.expanded {
  width: 200px; /* Largura quando expandido */
}

/* Botão de alternância para expandir o menu */
.toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.menu-item {
  display: flex; /* Exibe o conteúdo em uma linha */
  align-items: center; /* Alinha o ícone e o texto verticalmente no centro */
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s;
}

.menu-item img {
  margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto */
  width: 24px;
  height: 24px;
  display: inline-block;
}

.menu-item span {
  font-size: 1rem;
  display: inline-block;
}
.menu-item img.default {
  opacity: 1;
}

.menu-item img.hover {
  opacity: 0;
  position: absolute; /* Remove o impacto da segunda imagem no layout */
}

/* Exibir a imagem de hover ao passar o mouse */
.menu-item:hover img.default {
  opacity: 0; /* Oculta a imagem padrão */
}

.menu-item:hover img.hover {
  margin-right: 0.5rem; 
  opacity: 1; /* Exibe a imagem de hover */
}

.menu-item:hover {
  background-color: var(--selecionado); /* Cor de fundo ao passar o mouse */
  color: black;
}
.menu-item:hover img{
  /* Cor de fundo ao passar o mouse */
  color: black;
}

/* Ajustes para a responsividade */
@media (max-width: 768px) {
  .sidenav {
    transform: translateX(-100%); /* Menu fechado */
    transition: transform 0.3s ease;
  }
  
  .sidenav-open {
    transform: translateX(0); /* Menu aberto */
  }
}

  
  