:root {
  --principal: #21557a;
  --selecionado: #f5f5f5;
  --branco: #21557a;
}

.sidenav {
  width: 80px;
  background-color: var(--principal);
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  overflow-x: hidden;
}

.sidenav.expanded {
  width: 220px;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
}

.menu-item:hover {
  background-color: var(--selecionado);
  color: black;
}

.menu-item .icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  margin-right: 0.5rem;
}

.menu-item:hover .icon {
  transform: scale(1.1);
}
.menu-item.active {
  background-color: var(--selecionado);
  color: var(--branco);
  font-weight: bold;
}

.link-icon{
  align-items: flex-end;
}

.show-text {
  display: inline;
  font-size: 1rem;
}

.hide-text {
  display: none;
}

.sidenav.expanded .menu-item span {
  display: inline;
}

.main-content {
  margin-left: 60px;
  transition: margin-left 0.3s ease-in-out;
}

.sidenav.expanded ~ .main-content {
  margin-left: 220px;
}

@media (max-width: 768px) {
  .sidenav {
    width: 60px;
  }

  .sidenav.expanded {
    width: 220px;
  }
}
