/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/SideNavBar.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.sidenav {
  width: 60px; 
  background-color: var(--principal);
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidenav.expanded {
  width: 200px;
  background-color: #21557A; 
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
  z-index: 1001; 
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.icon {
  margin-right: 0.5rem; 
  width: 24px;
  height: 24px;
}

.menu-item span {
  font-size: 1rem;
  display: inline-block;
}

.menu-item {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: var(--selecionado);
  color: black; 
}

.menu-item .icon {
  margin-right: 0.5rem; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-item:hover .icon {
  transform: scale(1.1); 
  color: black; 
}

@media (max-width: 768px) {
  .sidenav {
    transform: translateX(0%);
    transition: transform 0.3s ease;
  }
  
  .sidenav-open {
    transform: translateX(0);
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/ButtonVisual/styles.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.button {
    background-color: #1e3a8a; /* Azul escuro */
    color: white; /* Texto branco */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px;
  }
  
  .button:hover {
    background-color: #3b82f6; /* Azul mais claro */
  }
  
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/prateleira.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.containerPratileira1{
    display: flex;
    justify-content: center;

}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/prateleira1/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Prin{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3%;
    flex-direction: column;
    font-size: larger;
    
}
.centro{
    display: flex;
    justify-content: center;
    font-size: large;
    flex-direction: row;
    
}
.Prin h1 {
    font-size: 2rem;
    color: #21557A;
    text-align: justify;
    font-weight: bold;
}
.footer {
    margin-top: auto;
    text-align: center;
    color: #666;
    padding: 1rem;
}

