
.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
  
  .card {
    width: 100%;
    max-width: 800px;
    background-color: #EFF0F0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideDown 0.3s ease-out;
    justify-items: center;
    margin: 5%;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .header {
    background-color: transparent; 
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .headerTitle {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #717a7d;
    font-size: 3rem;
    justify-content: flex-end;
    cursor: pointer;
    left: 100%;
  }
  .closeButton button:hover {
    background-color: #505659;
  }
  
  .tableContainer {
    overflow-x: auto;
    padding: 0.5rem;
    background-color: transparent;
    width: 700px;

  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px; 
    overflow: hidden;
  }
  
  .tableHead {
    background-color: #21557A;
    color: white;
  }
  
  .tableCell {
    border: 1.5px solid #ffff;
    padding: 0.5rem;
    text-align: center;
    
  }
 
  .rowOdd {
    background-color: #a5ebcc;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  .pagination button {
    background-color: #004d66;
    color: white;
    font-size: 0.9rem;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .pagination button:hover {
    background-color: #006f87;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-weight: bold;
    font-size: 1rem;
    color: #004d66;
  }
  
  .tabela-title {
    font-size: 18px;
    font-weight: bold;
    color: #004d66;
    margin-bottom: 20px;
  }