
.container {
  position: fixed;
  inset: 0; 
  width: 100vw; 
  height: 100vh; 
  background: rgba(200, 200, 200, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

  .card {
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-color: #EFF0F0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideDown 0.3s ease-out;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-right: 1rem;
    position: relative;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #004d66;
    font-size: 3rem; 
    cursor: pointer;
    margin-left: auto; 
  }
  .card h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #4c5558;
  }
  
  .headerTitle {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .tableContainer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }
  
  .tableContainer {
    padding-top: 0.5rem;
    overflow-x: auto;
    max-height: 400px; 
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .table thead tr {
    background-color: #004d66;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #e0f2f1;
  }
  
  .table tbody tr {
    background-color: #a5ebcc;
  }
  
  
  .tableHead {
    background-color: #21557A;
    color: white;
  }
  
  .tableCell {
    border: 1.5px solid #ffff;
    padding: 0.5rem;
    text-align: center;
    
  }
 
  .rowOdd {
    background-color: #a5ebcc;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; 
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  .pagination button {
    background-color: #004d66;
    color: white;
    font-size: 0.9rem;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .pagination button:hover {
    background-color: #006f87;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-weight: bold;
    font-size: 1rem;
    color: #004d66;
  }
  
  
 

  
  