
.container {
  position: fixed;
  inset: 0; 
  width: 100vw; 
  height: 100vh; 
  background: rgba(200, 200, 200, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

  .card {
    width: 100%;
    max-width: 800px;
    background-color: #EFF0F0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: slideDown 0.3s ease-out;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  .header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 1rem;
    position: relative;
  }
  
  .closeButton {
    background: none;
    border: none;
    color: #004d66;
    font-size: 3rem; 
    cursor: pointer;
    margin-left: auto; 
  }
  .card h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #4c5558;
  }
  
  .headerTitle {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .tableContainer {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .table {
    width: 80%; 
    max-width: 600px; 
    border-collapse: collapse;
    margin: 0 auto; 
    border-radius: 15px;
    overflow: hidden;
  }
  
  
  .tableHead {
    background-color: #21557A;
    color: white;
  }
  
  .tableCell {
    border: 1.5px solid #ffff;
    padding: 0.5rem;
    text-align: center;
    
  }
 
  .rowOdd {
    background-color: #a5ebcc;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; 
  }
  
  
  .footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
    background-color: transparent;
  }
  
 

  
  