/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/SideNavBar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/

.sidenav {
  width: 60px; 
  background-color: var(--principal);
  color: white;
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.sidenav.expanded {
  width: 200px;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.icon {
  margin-right: 0.5rem; 
  width: 24px;
  height: 24px;
}


.menu-item span {
  font-size: 1rem;
  display: inline-block;
}
.menu-item {
  display: flex; 
  flex-direction: row;
  align-items: center; 
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s;
}
.menu-item:hover {
  background-color: var(--selecionado);
  color: black; 
}

.menu-item .icon {
  margin-right: 0.5rem; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-item:hover .icon {
  transform: scale(1.1); 
  color: black; 
}
@media (max-width: 768px) {
  .sidenav {
    transform: translateX(0%);
    transition: transform 0.3s ease;
  }
  
  .sidenav-open {
    transform: translateX(0);
  }
}

  
  
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/styles/Home.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.shelf-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #e3e3e3; 
    min-height: 100vh;
  }
  
  .shelf-selector h1 {
    font-size: 1.5rem;
    color: #666666;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 5%;
  }
  
  .shelf-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    align-items: center;
    margin-top: 5%;
  }
  

  .shelf-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 5px; 
    width: 100%;
  }
  
  .shelf-number {
    background-color: #2b4b7e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-right: -1rem;
    font-size: 13px;
  }
  
  .shelf-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
  }
  
  .shelf-item {
    background-color: #2b4b7e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .footer {
    margin-top: auto;
    text-align: center;
    color: #666;
    padding: 1rem;
  }
  
